name: Visual Regression Testing
on:
  pull_request:
jobs:
  visual-regression-tests:
    runs-on: ubuntu-22.04
    name: Visual Regression Tests
    environment: vrt
    env:
      VRT_APIURL: "https://example.com"
      VRT_APIKEY: "superSecretKey"
      VRT_PROJECT: ${{ secrets.VRT_PROJECT }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/setup_evap
        with:
          npm-ci: true
      - name: Run visual regression tests
        run: python manage.py vrt_test
